<div class="col-sm-8 col-sm-offset-2">
    <h3>Contact {{site.name}}!</h3>
    <br/><br/>
    <form accept-charset="UTF-8" enctype="multipart/form-data" method="post" action="https://candidate.wufoo.com/forms/id/#public" id="contact-form" title="Contact {{site.name}}">
        <div class="form-group">
            <label class="control-label" for="Field9">Your Name <span class="text-danger">*</span></label>
            <input name="Field9" class="form-control" type="text" maxlength="255" required="required" />
            <span class="help-block hidden">
                Please provide your name
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="Field4">Your Email Address <span class="text-danger">*</span></label>
            <input name="Field4" class="form-control" type="email" maxlength="255" required="required" />
            <span class="help-block hidden">
                Please provide your email
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="Field3">Phone <span class="text-danger">*</span></label>
            <input name="Field3" class="form-control" type="tel" maxlength="255" required="required" />
            <span class="help-block hidden">
                Please provide your phone number
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="Field2">Subject <span class="text-danger">*</span></label>
            <input name="Field2" class="form-control" type="text" maxlength="255" required="required" />
            <span class="help-block hidden">
                Please provide a subhect
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="Field5">Message</label>
            <textarea name="Field5" class="form-control" spellcheck="true" rows="5" cols="50"></textarea>

        </div>
        <div class="form-group">
            <button name="saveForm" class="btn btn-success btn-lg" type="submit"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;Contact {{site.name}}!</button>
        </div>
        <div class="hide">
            <label for="comment">Do Not Fill This Out</label>
            <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
            <input type="hidden" id="idstamp" name="idstamp" value="id">
        </div>
    </form>
</div>