<div class="container">
	<nav class="navbar navbar-default subscribe-form">
	  <div class="container-fluid">
			<form class="navbar-form navbar-left" action="//accountid.us12.list-manage.com/subscribe/post?u=userid&amp;id=listid" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
			  <strong>Get Updates from {{ site.name }}!</strong>&nbsp;&nbsp;&nbsp;&nbsp;
			  <div class="form-group">
				<label for="mce-EMAIL" class="sr-only">Email Address  <span class="asterisk">*</span></label>
				<input type="email" required="required" class="form-control" placeholder="Email Address" />
			  </div>
			  <button type="submit" class="btn btn-default">Subscribe!</button>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="someid" tabindex="-1" value=""></div>
			</form>
		</div>
	</nav>
</div>